/* Global */
html {
  scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 100;
    line-height: 1.5;
    font-size: 18px;
    background-color: #9A8478;
}

ul{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: #42275A;
}
/*Heading*/

.header{
    background-color: #1E130C ;
    color: #fff;
    border-bottom: #42275A solid 5px;
}

.heading_main{
    display: inline-block;
    width: 55%;
    margin-left: 10%;
}

nav{ 
    display: inline-block;
    word-spacing: 60px;
    margin-left: 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-weight: bold; 
}

#container1{
    background-color: #c2bcbc;
    color: #fff;
    padding-bottom: 50px;
    background: url(./imgs/preogrammingIMG.jpg) no-repeat 0 -120px;
    border-radius: 10px;
    margin: 10px 5%;
}

#container1 h2{
    margin: 0px;
    padding: 20px;
    text-align:center;
}

#container1 p{
    text-align: center;
    padding: 0% 10%;
}

.container2 h3{
    margin: 0px;
    padding: 30px;
}

.container2{
    text-align: center;
    background-color: #1E130C;
    margin: 10px 5%;
    border-radius: 10px;
    color: white;
}

.container2 a{
    color: #fff;
    background-color: #04227e;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 10px;
}

#container{
    text-align: center;
    margin: 0 5%;
}

.role{
    display: inline-block;
    width: 250px;
    padding: 5px;
    margin: 20px 0px;
}

.role img{
    border-radius: 15px;

}

.role a{
    background-color: #1E130C;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

footer{
    background-color: #1E130C;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 10px 5%;
}

footer p{
    margin: 0px;
    font-weight: bold;
    color: #fff;
}

/* Hiring pg*/

.page-left ul{
    list-style: none;
}

.page-left {
    display: inline-block;
    width: 18%;
    background-color: white;
    border: 5px solid #42275A ;
    margin-left: 10%;
    padding: 10px;
}

.page-right{
    display: inline-block;
    margin-left: 20px;
    margin-right: 5%;
}

.page-right .profileOfDevs{
    text-decoration: none;
    color: #1E130C;
    background-color: #04227e;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}

.user h3{
    display: inline-block;
}

.user{
    background-color: #fff;
    margin-top: 20px;
    border: #42275A solid 5px;
    border-radius: 10px;
    margin-left: 400px;
    padding-left: 25px;
    padding-right: 10px;
}

 

@media(max-width:600px){
    #main{
        width: 100%;
        float:none;
    }
}